--
-- PostgreSQL database dump
--

\restrict M4CLQMx6w8k7DYyO7NK6OdYk0rygtC8nJThLhr133ycibD3rsbqF5toA9RvD3tw

-- Dumped from database version 16.10
-- Dumped by pg_dump version 16.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: studio_admin
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO studio_admin;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: studio_admin
--

COMMENT ON SCHEMA public IS '';


--
-- Name: AssetType; Type: TYPE; Schema: public; Owner: studio_admin
--

CREATE TYPE public."AssetType" AS ENUM (
    'IMAGE',
    'DOCUMENT',
    'FLOORPLAN'
);


ALTER TYPE public."AssetType" OWNER TO studio_admin;

--
-- Name: BookingStatus; Type: TYPE; Schema: public; Owner: studio_admin
--

CREATE TYPE public."BookingStatus" AS ENUM (
    'PENDING',
    'CONFIRMED',
    'CANCELLED',
    'PAID',
    'COMPLETED'
);


ALTER TYPE public."BookingStatus" OWNER TO studio_admin;

--
-- Name: InvoiceStatus; Type: TYPE; Schema: public; Owner: studio_admin
--

CREATE TYPE public."InvoiceStatus" AS ENUM (
    'PAID',
    'UNPAID',
    'VOID'
);


ALTER TYPE public."InvoiceStatus" OWNER TO studio_admin;

--
-- Name: PackageUnit; Type: TYPE; Schema: public; Owner: studio_admin
--

CREATE TYPE public."PackageUnit" AS ENUM (
    'HOUR',
    'DAY',
    'FIXED_MINUTES'
);


ALTER TYPE public."PackageUnit" OWNER TO studio_admin;

--
-- Name: ServiceUnit; Type: TYPE; Schema: public; Owner: studio_admin
--

CREATE TYPE public."ServiceUnit" AS ENUM (
    'PER_BOOKING',
    'PER_HOUR',
    'PER_DAY',
    'FIXED'
);


ALTER TYPE public."ServiceUnit" OWNER TO studio_admin;

--
-- Name: SubscriptionStatus; Type: TYPE; Schema: public; Owner: studio_admin
--

CREATE TYPE public."SubscriptionStatus" AS ENUM (
    'ACTIVE',
    'CANCELED',
    'PAST_DUE'
);


ALTER TYPE public."SubscriptionStatus" OWNER TO studio_admin;

--
-- Name: TransactionType; Type: TYPE; Schema: public; Owner: studio_admin
--

CREATE TYPE public."TransactionType" AS ENUM (
    'PURCHASE',
    'BOOKING',
    'ADJUSTMENT',
    'SUBSCRIPTION',
    'GRANT'
);


ALTER TYPE public."TransactionType" OWNER TO studio_admin;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: studio_admin
--

CREATE TYPE public."UserRole" AS ENUM (
    'SUPER_ADMIN',
    'ADMIN',
    'CLIENT'
);


ALTER TYPE public."UserRole" OWNER TO studio_admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: studio_admin
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO studio_admin;

--
-- Name: assets; Type: TABLE; Schema: public; Owner: studio_admin
--

CREATE TABLE public.assets (
    id text NOT NULL,
    name text NOT NULL,
    type public."AssetType" NOT NULL,
    url text NOT NULL,
    uploaded_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.assets OWNER TO studio_admin;

--
-- Name: booking_line_items; Type: TABLE; Schema: public; Owner: studio_admin
--

CREATE TABLE public.booking_line_items (
    id text NOT NULL,
    booking_id text NOT NULL,
    service_id text,
    price_at_booking numeric(65,30) NOT NULL,
    name_snapshot text NOT NULL,
    unit_price_aed_snapshot numeric(65,30) NOT NULL,
    total_price_aed_snapshot numeric(65,30) NOT NULL,
    quantity integer DEFAULT 1,
    total_price_minor_snapshot integer DEFAULT 0 NOT NULL,
    unit_price_minor_snapshot integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.booking_line_items OWNER TO studio_admin;

--
-- Name: bookings; Type: TABLE; Schema: public; Owner: studio_admin
--

CREATE TABLE public.bookings (
    id text NOT NULL,
    user_id text NOT NULL,
    room_id text NOT NULL,
    start_time timestamp(3) without time zone NOT NULL,
    end_time timestamp(3) without time zone NOT NULL,
    status public."BookingStatus" DEFAULT 'PENDING'::public."BookingStatus" NOT NULL,
    total_price numeric(65,30) NOT NULL,
    total_price_aed_snapshot numeric(65,30) DEFAULT 0 NOT NULL,
    time_zone text DEFAULT 'Asia/Dubai'::text NOT NULL,
    used_credit_minutes integer DEFAULT 0 NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    stripe_checkout_session_id text,
    stripe_payment_intent_id text,
    paid_at timestamp(3) without time zone,
    total_price_minor_snapshot integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.bookings OWNER TO studio_admin;

--
-- Name: credit_ledger; Type: TABLE; Schema: public; Owner: studio_admin
--

CREATE TABLE public.credit_ledger (
    id text NOT NULL,
    user_id text NOT NULL,
    booking_id text,
    amount integer NOT NULL,
    transaction_type public."TransactionType" NOT NULL,
    reference_id text,
    description text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.credit_ledger OWNER TO studio_admin;

--
-- Name: invoices; Type: TABLE; Schema: public; Owner: studio_admin
--

CREATE TABLE public.invoices (
    id text NOT NULL,
    user_id text NOT NULL,
    booking_id text,
    subscription_id text,
    amount numeric(65,30) NOT NULL,
    status public."InvoiceStatus" NOT NULL,
    pdf_url text,
    stripe_payment_intent_id text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.invoices OWNER TO studio_admin;

--
-- Name: packages; Type: TABLE; Schema: public; Owner: studio_admin
--

CREATE TABLE public.packages (
    id text NOT NULL,
    name text NOT NULL,
    price numeric(65,30) NOT NULL,
    credits integer NOT NULL,
    duration_minutes integer DEFAULT 60 NOT NULL,
    validity_days integer NOT NULL,
    active boolean DEFAULT true NOT NULL,
    studio_room_id text,
    max_quantity integer DEFAULT 12 NOT NULL,
    min_quantity integer DEFAULT 1 NOT NULL,
    price_per_unit_minor integer DEFAULT 0 NOT NULL,
    step_quantity integer DEFAULT 1 NOT NULL,
    unit public."PackageUnit" DEFAULT 'FIXED_MINUTES'::public."PackageUnit" NOT NULL
);


ALTER TABLE public.packages OWNER TO studio_admin;

--
-- Name: plans; Type: TABLE; Schema: public; Owner: studio_admin
--

CREATE TABLE public.plans (
    id text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    monthly_price integer NOT NULL,
    included_credits integer NOT NULL,
    description text,
    is_active boolean DEFAULT true NOT NULL
);


ALTER TABLE public.plans OWNER TO studio_admin;

--
-- Name: services; Type: TABLE; Schema: public; Owner: studio_admin
--

CREATE TABLE public.services (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    price numeric(65,30) NOT NULL,
    duration_min integer DEFAULT 0,
    active boolean DEFAULT true NOT NULL,
    max_quantity integer DEFAULT 20 NOT NULL,
    min_quantity integer DEFAULT 1 NOT NULL,
    price_minor integer DEFAULT 0 NOT NULL,
    step_quantity integer DEFAULT 1 NOT NULL,
    unit public."ServiceUnit" DEFAULT 'FIXED'::public."ServiceUnit" NOT NULL
);


ALTER TABLE public.services OWNER TO studio_admin;

--
-- Name: stripe_events_processed; Type: TABLE; Schema: public; Owner: studio_admin
--

CREATE TABLE public.stripe_events_processed (
    id text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.stripe_events_processed OWNER TO studio_admin;

--
-- Name: studio_rooms; Type: TABLE; Schema: public; Owner: studio_admin
--

CREATE TABLE public.studio_rooms (
    id text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    description text NOT NULL,
    capacity integer NOT NULL,
    hourly_rate numeric(65,30) NOT NULL,
    image_url text,
    type text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.studio_rooms OWNER TO studio_admin;

--
-- Name: subscriptions; Type: TABLE; Schema: public; Owner: studio_admin
--

CREATE TABLE public.subscriptions (
    id text NOT NULL,
    user_id text NOT NULL,
    plan_id text NOT NULL,
    status public."SubscriptionStatus" NOT NULL,
    stripe_customer_id text,
    stripe_subscription_id text,
    current_period_start timestamp(3) without time zone,
    current_period_end timestamp(3) without time zone NOT NULL,
    latest_invoice_id text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.subscriptions OWNER TO studio_admin;

--
-- Name: users; Type: TABLE; Schema: public; Owner: studio_admin
--

CREATE TABLE public.users (
    id text NOT NULL,
    email text NOT NULL,
    name text NOT NULL,
    password text NOT NULL,
    role public."UserRole" DEFAULT 'CLIENT'::public."UserRole" NOT NULL,
    stripe_customer_id text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.users OWNER TO studio_admin;

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: studio_admin
--



--
-- Data for Name: assets; Type: TABLE DATA; Schema: public; Owner: studio_admin
--

COPY public.assets (id, name, type, url, uploaded_at) FROM stdin;
\.


--
-- Data for Name: booking_line_items; Type: TABLE DATA; Schema: public; Owner: studio_admin
--

COPY public.booking_line_items (id, booking_id, service_id, price_at_booking, name_snapshot, unit_price_aed_snapshot, total_price_aed_snapshot, quantity, total_price_minor_snapshot, unit_price_minor_snapshot) FROM stdin;
\.


--
-- Data for Name: bookings; Type: TABLE DATA; Schema: public; Owner: studio_admin
--

COPY public.bookings (id, user_id, room_id, start_time, end_time, status, total_price, total_price_aed_snapshot, time_zone, used_credit_minutes, created_at, stripe_checkout_session_id, stripe_payment_intent_id, paid_at, total_price_minor_snapshot) FROM stdin;
\.


--
-- Data for Name: credit_ledger; Type: TABLE DATA; Schema: public; Owner: studio_admin
--

COPY public.credit_ledger (id, user_id, booking_id, amount, transaction_type, reference_id, description, created_at) FROM stdin;
\.


--
-- Data for Name: invoices; Type: TABLE DATA; Schema: public; Owner: studio_admin
--

COPY public.invoices (id, user_id, booking_id, subscription_id, amount, status, pdf_url, stripe_payment_intent_id, created_at) FROM stdin;
\.


--
-- Data for Name: packages; Type: TABLE DATA; Schema: public; Owner: studio_admin
--

COPY public.packages (id, name, price, credits, duration_minutes, validity_days, active, studio_room_id, max_quantity, min_quantity, price_per_unit_minor, step_quantity, unit) FROM stdin;
00000000-0000-0000-0000-000000000001	Basic Session	200.000000000000000000000000000000	60	60	30	t	55008c12-33ac-4ae5-8b40-6ce60aa665c6	12	1	0	1	FIXED_MINUTES
00000000-0000-0000-0000-000000000002	Extended Session	350.000000000000000000000000000000	120	120	30	t	55008c12-33ac-4ae5-8b40-6ce60aa665c6	12	1	0	1	FIXED_MINUTES
\.


--
-- Data for Name: plans; Type: TABLE DATA; Schema: public; Owner: studio_admin
--

COPY public.plans (id, name, slug, monthly_price, included_credits, description, is_active) FROM stdin;
7c80e12f-48aa-4fba-8a05-eb4cdca75483	Creator Plan	creator	99900	10	Perfect for content creators and podcasters starting out	t
368ba368-17b4-42b8-971f-4755584a3a51	Pro Plan	pro	199900	25	For professional creators who need more studio time	t
a2160276-ec1b-44af-8678-c471f6e695d5	Business Plan	business	399900	60	Unlimited access for businesses and production companies	t
\.


--
-- Data for Name: services; Type: TABLE DATA; Schema: public; Owner: studio_admin
--

COPY public.services (id, name, description, price, duration_min, active, max_quantity, min_quantity, price_minor, step_quantity, unit) FROM stdin;
417e2328-bde5-47c6-8bcd-423b00b083bb	Audio Mixing	Professional audio mixing and mastering	150.000000000000000000000000000000	60	t	20	1	0	1	FIXED
2d46046e-563a-4bd1-b10e-a41ea483893e	Video Recording	Multi-camera video recording setup	200.000000000000000000000000000000	0	t	20	1	0	1	FIXED
\.


--
-- Data for Name: stripe_events_processed; Type: TABLE DATA; Schema: public; Owner: studio_admin
--

COPY public.stripe_events_processed (id, created_at) FROM stdin;
\.


--
-- Data for Name: studio_rooms; Type: TABLE DATA; Schema: public; Owner: studio_admin
--



--
-- Data for Name: subscriptions; Type: TABLE DATA; Schema: public; Owner: studio_admin
--

COPY public.subscriptions (id, user_id, plan_id, status, stripe_customer_id, stripe_subscription_id, current_period_start, current_period_end, latest_invoice_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: studio_admin
--

COPY public.users (id, email, name, password, role, stripe_customer_id, created_at) FROM stdin;
227564b5-3eb4-4878-90a9-8314f505fe9c	test@studio.com	Test User	$2a$10$YourHashedPasswordHere	CLIENT	\N	2026-02-17 16:30:29.937
\.


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: studio_admin
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: assets assets_pkey; Type: CONSTRAINT; Schema: public; Owner: studio_admin
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT assets_pkey PRIMARY KEY (id);


--
-- Name: booking_line_items booking_line_items_pkey; Type: CONSTRAINT; Schema: public; Owner: studio_admin
--

ALTER TABLE ONLY public.booking_line_items
    ADD CONSTRAINT booking_line_items_pkey PRIMARY KEY (id);


--
-- Name: bookings bookings_pkey; Type: CONSTRAINT; Schema: public; Owner: studio_admin
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_pkey PRIMARY KEY (id);


--
-- Name: credit_ledger credit_ledger_pkey; Type: CONSTRAINT; Schema: public; Owner: studio_admin
--

ALTER TABLE ONLY public.credit_ledger
    ADD CONSTRAINT credit_ledger_pkey PRIMARY KEY (id);


--
-- Name: invoices invoices_pkey; Type: CONSTRAINT; Schema: public; Owner: studio_admin
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_pkey PRIMARY KEY (id);


--
-- Name: packages packages_pkey; Type: CONSTRAINT; Schema: public; Owner: studio_admin
--

ALTER TABLE ONLY public.packages
    ADD CONSTRAINT packages_pkey PRIMARY KEY (id);


--
-- Name: plans plans_pkey; Type: CONSTRAINT; Schema: public; Owner: studio_admin
--

ALTER TABLE ONLY public.plans
    ADD CONSTRAINT plans_pkey PRIMARY KEY (id);


--
-- Name: services services_pkey; Type: CONSTRAINT; Schema: public; Owner: studio_admin
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT services_pkey PRIMARY KEY (id);


--
-- Name: stripe_events_processed stripe_events_processed_pkey; Type: CONSTRAINT; Schema: public; Owner: studio_admin
--

ALTER TABLE ONLY public.stripe_events_processed
    ADD CONSTRAINT stripe_events_processed_pkey PRIMARY KEY (id);


--
-- Name: studio_rooms studio_rooms_pkey; Type: CONSTRAINT; Schema: public; Owner: studio_admin
--

ALTER TABLE ONLY public.studio_rooms
    ADD CONSTRAINT studio_rooms_pkey PRIMARY KEY (id);


--
-- Name: subscriptions subscriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: studio_admin
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: studio_admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: bookings_room_id_start_time_end_time_idx; Type: INDEX; Schema: public; Owner: studio_admin
--

CREATE INDEX bookings_room_id_start_time_end_time_idx ON public.bookings USING btree (room_id, start_time, end_time);


--
-- Name: bookings_stripe_checkout_session_id_key; Type: INDEX; Schema: public; Owner: studio_admin
--

CREATE UNIQUE INDEX bookings_stripe_checkout_session_id_key ON public.bookings USING btree (stripe_checkout_session_id);


--
-- Name: bookings_stripe_payment_intent_id_key; Type: INDEX; Schema: public; Owner: studio_admin
--

CREATE UNIQUE INDEX bookings_stripe_payment_intent_id_key ON public.bookings USING btree (stripe_payment_intent_id);


--
-- Name: invoices_booking_id_key; Type: INDEX; Schema: public; Owner: studio_admin
--

CREATE UNIQUE INDEX invoices_booking_id_key ON public.invoices USING btree (booking_id);


--
-- Name: invoices_stripe_payment_intent_id_key; Type: INDEX; Schema: public; Owner: studio_admin
--

CREATE UNIQUE INDEX invoices_stripe_payment_intent_id_key ON public.invoices USING btree (stripe_payment_intent_id);


--
-- Name: plans_slug_key; Type: INDEX; Schema: public; Owner: studio_admin
--

CREATE UNIQUE INDEX plans_slug_key ON public.plans USING btree (slug);


--
-- Name: studio_rooms_slug_key; Type: INDEX; Schema: public; Owner: studio_admin
--

CREATE UNIQUE INDEX studio_rooms_slug_key ON public.studio_rooms USING btree (slug);


--
-- Name: subscriptions_stripe_subscription_id_key; Type: INDEX; Schema: public; Owner: studio_admin
--

CREATE UNIQUE INDEX subscriptions_stripe_subscription_id_key ON public.subscriptions USING btree (stripe_subscription_id);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: studio_admin
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: users_stripe_customer_id_key; Type: INDEX; Schema: public; Owner: studio_admin
--

CREATE UNIQUE INDEX users_stripe_customer_id_key ON public.users USING btree (stripe_customer_id);


--
-- Name: booking_line_items booking_line_items_booking_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: studio_admin
--

ALTER TABLE ONLY public.booking_line_items
    ADD CONSTRAINT booking_line_items_booking_id_fkey FOREIGN KEY (booking_id) REFERENCES public.bookings(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: booking_line_items booking_line_items_service_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: studio_admin
--

ALTER TABLE ONLY public.booking_line_items
    ADD CONSTRAINT booking_line_items_service_id_fkey FOREIGN KEY (service_id) REFERENCES public.services(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: bookings bookings_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: studio_admin
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_room_id_fkey FOREIGN KEY (room_id) REFERENCES public.studio_rooms(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: bookings bookings_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: studio_admin
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: credit_ledger credit_ledger_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: studio_admin
--

ALTER TABLE ONLY public.credit_ledger
    ADD CONSTRAINT credit_ledger_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: invoices invoices_booking_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: studio_admin
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_booking_id_fkey FOREIGN KEY (booking_id) REFERENCES public.bookings(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: invoices invoices_subscription_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: studio_admin
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_subscription_id_fkey FOREIGN KEY (subscription_id) REFERENCES public.subscriptions(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: invoices invoices_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: studio_admin
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: packages packages_studio_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: studio_admin
--

ALTER TABLE ONLY public.packages
    ADD CONSTRAINT packages_studio_room_id_fkey FOREIGN KEY (studio_room_id) REFERENCES public.studio_rooms(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: subscriptions subscriptions_plan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: studio_admin
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_plan_id_fkey FOREIGN KEY (plan_id) REFERENCES public.plans(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: subscriptions subscriptions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: studio_admin
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: studio_admin
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict M4CLQMx6w8k7DYyO7NK6OdYk0rygtC8nJThLhr133ycibD3rsbqF5toA9RvD3tw

